<section class="footer-section">
    <div class="main-footer">
        <div class="footer-div">
            <div class="footer-info">
            <div class="footer-title"><h3>Wilker Fernandes</h3><h3>Sociedade Individual de advocacia</h3></div>
            <p>Wilker Fernandes Sociedade Individual de Advocacia é uma Sociedade de Advocacia inscrita na OAB/RJ sob o nº 218178 e CNPJ: 45.597.315/0001-04</p>
            </div>
            <div class="contact-info">
                <div class="contact-align">
                    <h2>Contato</h2>
                    <div class="compact">
                        <i class='bx bx-world'></i><h4><strong>Endereço: </strong>Rua Expedicionário Aquino de araújo, 561, Loja A, Engenho do porto, Duque de Caxias, 25015-100</h4>
                    </div>
                    <div class="compact">
                        <i class='bx bxs-phone'></i><h4><strong>Telefone: </strong>(21) 98281-0999</h4>
                    </div>
                    <div class="compact">
                        <i class='bx bxs-envelope' ></i><h4><strong>Email: </strong>adv.wilker@gmail.com</h4>
                    </div>
                    <div class="compact">
                        <i class='bx bx-world'></i><h4><strong>Site: </strong>wilkersia.com</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-footer">
            <p>Copyright© 2023 todos os direitos reservados | Esse template foi feito por Kadu Braga</p>
        </div>
    </div>
</section>