{% load static %}
<section class="profile-section">
    <div class="div-profile">
        <div class="profile-left">
            <div class="profile-title">
                <h3>Wilker Fernandes</h3>
                <h4>OAB/RJ 218178</h4>
            </div>
            <p>Wilker Fernandes é um advogado experiente, com habilidades únicas para resolver questões jurídicas complexas. Ele se destaca por sua atuação ética e comprometida com os interesses de seus clientes. Se você precisa de um advogado dedicado e competente, Wilker Fernandes é a escolha certa para você.</p>
        </div>
        <div class="profile-right">
            <div class="profile-image">
                <img src="{% static 'img/wilker2.png' %}" alt="">
            </div>
        </div>
    </div>
</section>