{% load static %}
{% include 'articles/partials/head.html' %}
<body>
    {% include 'articles/partials/header.html' %}
    {% include 'articles/partials/whatsapp-icon.html' %}
    {% include 'articles/partials/social-share.html' %}
    <section class="blog-section-detail">
        <div class="blog-content-detail">
            {% include 'articles/partials/articles.html' %}
        </div>
        <div class="doubt-section">
            <div class="div-doubt">
                <h2>Ficou com alguma dúvida?</h2>
                <img src="{% static 'img/whatsapp.png' %}" alt="">
            </div>
        </div>
    </section>
    {% include 'articles/partials/profile.html' %}
    {% include 'articles/partials/footer.html' %}
    <script src="{% static 'articles/js/script.js' %}"></script>
</body>
</html>